@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header {position: absolute; top: 0; left: 15vmin; height: 5vmin; right: 15vmin; text-align: center;
	vertical-align: middle; line-height: 5vmin; font-family: 'Pacifico'; font-size: 3vmin; opacity: 0.5;}